<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.noticias_now">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.noticias_now.app.ApsNoticiasApp"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.noticias_now.ui.activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.noticias_now.ui.activity.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreen" />
        <activity
            android:name="com.noticias_now.ui.activity.CriarContaActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreen" />
        <activity
            android:name="com.noticias_now.ui.activity.EditarPerfilActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreen" />
        <activity
            android:name="com.noticias_now.ui.activity.HomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.noticias_now.ui.activity.DetalheNoticiaActivity"
            android:label="@string/title_activity_detalhe_noticia"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.noticias_now.ui.activity.PublicarNoticiaActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreen" />
        <activity
            android:name="com.noticias_now.ui.activity.ListaNoticiasUsuarioActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreen" />
    </application>

</manifest>