<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.noticiasnow">

    <application
        android:name="com.noticiasnow.app.ApsNewsApp"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApp">
        <activity
            android:name="com.noticiasnow.splash.SplashActivity"
            android:noHistory="true"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="fullSensor"
            android:theme="@style/Theme.MyApp.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.noticiasnow.login.LoginActivity"
            android:label="@string/titulo_login"
            android:screenOrientation="fullSensor"
            android:theme="@style/Theme.MyApp.FullScreen" />
        <activity
            android:name="com.noticiasnow.account.register.RegisterActivity"
            android:screenOrientation="fullSensor">
            <nav-graph android:value="@navigation/nav_graph" />
        </activity>
        <activity
            android:name="com.noticiasnow.account.update.EditProfileActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name="com.noticiasnow.home.HomeActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.MyApp.NoActionBar" />
        <activity
            android:name="com.noticiasnow.details.DetailsNewsActivity"
            android:label="@string/title_activity_detalhe_noticia"
            android:theme="@style/Theme.MyApp.NoActionBar" />
        <activity
            android:name="com.noticiasnow.publish.PublishNewsActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name="com.noticiasnow.list.UserNewsActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name="com.noticiasnow.home.AccountActivity"
            android:screenOrientation="fullSensor"/>

    </application>

</manifest>