<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.noticias_now">

    <application
        android:name="com.noticias_now.app.ApsNewsApp"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.noticias_now.splash.SplashActivity"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.noticias_now.login.LoginActivity"
            android:label="@string/titulo_login"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreen" />
        <activity
            android:name="com.noticias_now.account.register.RegisterActivity"
            android:screenOrientation="portrait">
            <nav-graph android:value="@navigation/nav_graph" />
        </activity>
        <activity
            android:name="com.noticias_now.account.update.EditProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.noticias_now.home.HomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.noticias_now.details.DetailsNewsActivity"
            android:label="@string/title_activity_detalhe_noticia"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.noticias_now.publish.PublishNewsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.noticias_now.list.UserNewsActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>